.body{
    text-align: center;
}

.container{
    background-color: #ffffff;
    margin: 0% 10%;
}
.card {
    width: 3px 5px;
    padding: 2% 0% 0% 5%;
    margin: 0% 0%;
    font-size: 18px;
    background: #eef0f0;
    
}
.s-margin{
    margin-top: 5px;
}

#search {
    width: 400px;
    box-sizing: border-box;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    font-size:18px;
    padding: 5px 10px 5px 10px;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
}
 
#search:focus {
    width: 70%;
}
 
.box{
    width: 50px;
    height: 50px;
}
.box1998{
    padding: 6% 5% 5% 5%;
}

.left-bar{
    float: left;
    margin: 2px;
}

.card1 {
    width: 40%;
    height: 96px;
    background-color: #61e6e2;
    text-align: center;
    
}
.card11{
    width: 15%;
    height: 96px;
    background-color: #57b7b4;
    font-size: 12px;
    text-align: center;
}
.card3{
    width: 44%;
    height: 96px;
    background-color: #2a9292;
    font-size: 11px;
    text-align: center;
}
.f-size{
    font-size: 15px;
}
.s-bosluk{
    line-height: 0.4;
}